.submitcss {
	float: right;
	height: 30px;
	color: white;
	border: none;
	width:100px;
	background-color: #3385ff;
}

.buttoncss {
	float: left;
	width: 100px;
	height: 30px;
	color: white;
	border: none;
	background-color: #3385ff;
}

.submitcss:hover,.buttoncss:hover {
	background-color: #2d78f4;
}

table{
	margin: 0 auto;
}

tr {
	font-size: 13px;
	height:101px;
}

input {
	height: 25px;
    width: 140px;
    line-height: 40px;
	border: solid 1px #DFDFDF;
    border-radius: 3px;
    outline: none;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}