table {
	font-size: 13px;
	color: #666;
	font-color: grey;
	border-right: 1px solid #ededed;
	border-bottom: 1px solid #ededed;
	border-collapse: collapse;
	border-bottom: 1px solid #ededed;
}

table td {
	text-align: center;
	white-space: nowrap;
	border-left: 1px solid #ededed;
	border-top: 1px solid #ededed;
	width: 120px;
	height: 30px;
}

a {
	text-decoration: none;
}

button {
	width: 50px;
	height: 30px;
	color: white;
	border: none;
	margin-right: 1px;
	background-color: #3385ff;
	cursor: pointer;
}

button:hover {
	background-color: #2d78f4;
}

tr:hover {
	background-color: #FFBBFF;
}

input {
	height: 25px;
	width: 150px;
	border-radius: 3px;
	border: 1px solid #FFBBFF;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

#queryId {
	text-align: center;
	font-size: 13px;
	font-weight: bold;
	color: #666;
	margin: 0 0 10px 0;
}

#query {
	text-align: center;	
}

#record:hover {
	background-color: #FFE1FF;
}

#pagecontrol {
	font-size: 16px;
	color: #666;
	text-align: center;
	bottom: 10px;
	position: fixed;
	margin-left: 220px;
}

.page {
	text-align: center;
	color: #666;
}